// components/_camera.scss
.camera {
  @include center-flex;
  flex-direction: column;
  .video-container {
    position: relative;
    .video {
      @include video-style;
      width: 100%; // Оновлене для гнучкості
      max-width: 100%;
      height: auto;
    }
  }

  .controls {
    margin-top: 20px;
    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
