// Змінні кольорів
$primary-color: #007bff;
$hover-color: #0056b3;
$background-color: #f4f4f4;

// Шрифти
$font-family: 'Arial', sans-serif;

// Розміри
$border-radius: 5px;
$button-padding: 10px 20px;
